@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    height: 88px;
    background-color: #8EB5BA;
}

main, .main-konten, .content-add{
    height: 100vh;
    width: 100%;
    background-color: #BFF3FA;
    background-position:right center;
    background-size: cover;
    position:relative;
    background-attachment: fixed;
}

.Logo {
    cursor: pointer;
}

#darkmode_id {
    cursor: pointer;
}

li, a {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 600;

}

nav {
    margin: auto;
    display: flex;
    padding: 7px 1%;
    justify-content: space-between;
    align-items: center;
}

.navi {
    list-style: none;
}

#naviList {
    background-color: none;
}

.navi ul li {
    display: inline-block;
    padding: 0px 20px;
}

.navi ul li .darkmode {
    display: none;
}

.navi ul li a {
    transition: all 0.3s ease 0;
}

.navi ul li a:hover {
    color: black;
}

.head-table{
    font-family: "Rubik", sans-serif;
    margin-left: 10px;
    margin-right: 10px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 20px 20px;
    background-color: transparent;
    font-size: 30px;
    color: #26223B;

}

/* button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
} */

.searchbtn {
    background-color: #00ceab;
}

.addbutton a:link {
    color: white;
}

.addbutton {
    position: relative;
    top: 25px;
    background-color: #1020ff;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.form-control {
    height: 22px;
    padding-left: 2px;
}

.form-control ::placeholder{
    color: grey;
}

.searchbtn{
    background-color: grey;
    border-radius: 10px;
    padding: 5px 5px;
    justify-content: flex-end;
}

.searchbtn i {
    color: black;

}

.searchbar{
    position: relative;
    bottom: 15px;
    left: 1130px;
    /* display: flex;
    justify-content: flex-end; */
    background-color: #BFF3FA;
}



#cart{
    cursor: pointer;
}

.table {
    height: 650px;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}

table th {
    position: sticky;
    top: 0;
    background-color: #2D393B;
    color: white;
    font-size: 15px;
}

th, td{
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;

}
tr{
    background-color: white;
}

tr:hover td{
    color: black;
    background-color: #ABDAE0;
}

button:hover{
    background-color: #83CED5;
}

::placeholder{
    color: #00ceab;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.tmbhlagi{
    font-size: 18px;
    text-decoration: solid;
    color: #1020ff;
}

.edit, .del {
    cursor: pointer;
}

footer {
    padding: 30px 0px;
    margin-top: 30px;
    background-color: #8EB5BA;
    font: Rubik, sans-serif;
    height: 50px;
    width: 100%;
    position: absolute;
}

footer ul {
    list-style: none;
    font-size: 25px;
    line-height: 1;
    text-align: center;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover {
    color: gray;
}

footer .hakcipta {
    margin-top:  15px;
    text-align: center;
    font-size: 13px;
    color: navy;
}